<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Pixo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style2.css">
    
</head>
  <body>
    <div class="container">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img src="/images/logo/Pixo.png" width="90px" alt="logo"></a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
  </div>
  <div class="content text-justify">
    <h1>About Us</h1>
    <p>Welcome to Pixo! We are a team of passionate photographers and developers dedicated to bringing you the best photo search experience. Our mission is to provide high-quality, beautiful images that inspire creativity and enhance your projects.Here you can search and download for high quality images.</</p>
    <p>Our platform allows you to search for stunning photos, download them, and use them for various purposes. We hope you enjoy using our service as much as we enjoyed creating it for you!</p>
  </div>
  </body>
</html>
